li {
    list-style-type: none;
}

.character-container {
    display: flex;
    justify-content: center;
}

.character-font {
    color: #ececec;
    font-size: 2rem;
    text-shadow: 3px 3px 3px #443e3e;
    border-bottom: 2px solid #443e3e;
    margin-bottom: 20px;
}

.list-container {
    max-width: 800px;
    margin: 0 auto;
}